body {
}

/*.back_card {
background-image:url("img/back.jpg");
}
/*
#t.carte.back_card {
background-image:url("img/back.jpg");
}*/

.carte.back_card {
background-image:url("img/back.jpg");
            height: 424px;
            width: 327px;
}
.carte {
            height: 424px;
            width: 327px;
			background-image:url("img/46.jpg");
			background-repeat: no-repeat;
			background-position: center;
			/*background-color: yellow;*/
        }